/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

tbody, td, tfoot, th, thead, tr {
    vertical-align: middle;
}

.color-purchase {
    color: #f41127 !important;
}
.color-sale {
    color: #17a00e !important;
}
.small_dropdown {
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
}
.small_field {
    width: 47.8%;
}
.extra_small_field {
    width: 31.1%;
}
.small_field, .extra_small_field {
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin: 5px 2px;
}
.hidden {
    display: none;
}
.billing_label {
    font-size: 10.5px;
    font-weight: bold;
}